{lib_dirs, ["deps"]}.

{ deps
, [ { giallo, ".*"
    , { git
      , "git://github.com/kivra/giallo.git"
      , "master"
      }
    }
  , { reloader, ".*"
    , { git
      , "git://github.com/oinksoft/reloader.git"
      , "master"
      }
    }
  , { tulib, ".*"
    , { git
      , "git://github.com/klarna/tulib.git"
      , "master"
      }
    }
  , { jesse, ".*"
    , { git
      , "git://github.com/klarna/jesse.git"
      , "master"
      }
    }
  , { lager, ".*"
    , { git
      , "git://github.com/basho/lager.git"
      , "master"
      }
    }
  , { yamerl, ".*"
    , { git
      , "git://github.com/yakaz/yamerl.git"
      , "master"
      }
    }
  ]
}.
