{lib_dirs, ["deps"]}.

{ deps
, [ { cowboy, ".*"
    , { git
      , "git://github.com/extend/cowboy.git"
      , {tag, "0.8.6"}
      }
    }
  , { reloader, ".*"
    , { git
      , "git://github.com/oinksoft/reloader.git"
      , "master"
      }
    }
  , { jesse, ".*"
    , { git
      , "git://github.com/klarna/jesse.git"
      , "master"
      }
    }
  , { lager, ".*"
    , { git
      , "git://github.com/basho/lager.git"
      , "master"
      }
    }
  , { yamerl, ".*"
    , { git
      , "git://github.com/yakaz/yamerl.git"
      , "master"
      }
    }
  ]
}.
