{lib_dirs, ["deps"]}.

{ deps
, [ { giallo, ".*"
    , { git
      , "git://github.com/kivra/giallo.git"
      , "master"
      }
    }
  , { giallo_session, ".*"
    , { git
      , "git://github.com/kivra/giallo_session.git"
      , "master"
      }
    }
  , { neo4j_rest_api, ".*"
    , { git
      , "git://github.com/dmitriid/erlang-neo4j-rest-api.git"
      , "master"
      }
    }
  , { reloader, ".*"
    , { git
      , "git://github.com/oinksoft/reloader.git"
      , "master"
      }
    }
  , { tulib, ".*"
    , { git
      , "git://github.com/klarna/tulib.git"
      , "master"
      }
    }
  ]
}.

{erlydtl_opts, [ {doc_root,   "priv/templates"}
               , {out_dir,    "ebin"}
               , {source_ext, ".dtl"}
               ]
}.
